.calWrapper {
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-auto-rows: minmax(100px, auto); */
  margin: 0 auto;

  grid-template-areas:
    "display display display display"
    "clearBtn clearBtn percentBtn divisonBtn"
    "sevenBtn eightBtn nineBtn multiplyBtn"
    "fourBtn fiveBtn sixBtn subtractBtn"
    "oneBtn twoBtn threeBtn additionBtn"
    "zeroBtn zeroBtn dotBtn equalBtn";
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 15px;
  font-size: 2rem;
  text-align: center;
  user-select: none;
}

.display {
  grid-area: display;
  padding: 25px 15px;
  text-align: right;
  font-size: 2.8rem;
  background-color: black;
  color: white;
}

.clickAble:hover {
  cursor: pointer;
}

.clickAble:active {
  background-color: rgba(100, 120, 150, 0.1);
}

.clearBtn {
  grid-area: clearBtn;
}

.percentBtn {
  grid-area: percentBtn;
}

.divisonBtn {
  grid-area: divisonBtn;
  background-color: orange;
}

.sevenBtn {
  grid-area: sevenBtn;
}

.eightBtn {
  grid-area: eightBtn;
}

.nineBtn {
  grid-area: nineBtn;
}

.multiplyBtn {
  grid-area: multiplyBtn;
  background-color: orange;
}

.fourBtn {
  grid-area: fourBtn;
}

.fiveBtn {
  grid-area: fiveBtn;
}

.sixBtn {
  grid-area: sixBtn;
}

.subtractBtn {
  grid-area: subtractBtn;
  background-color: orange;
}

.oneBtn {
  grid-area: oneBtn;
}

.twoBtn {
  grid-area: twoBtn;
}

.threeBtn {
  grid-area: threeBtn;
}

.additionBtn {
  grid-area: additionBtn;
  background-color: orange;
}

.zeroBtn {
  grid-area: zeroBtn;
}

.dotBtn {
  grid-area: dotBtn;
}

.equalBtn {
  grid-area: equalBtn;
  background-color: orange;
}
